In [29]:
# Topsters Practice

import os
import csv
import pandas as pd

filepath = os.path.join("Resources","topsters.csv")

topsters_DF = pd.read_csv(filepath)
topsters_DF.head(10)

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
0,A Hard Day's Night,The Beatles,1964,Rock,Parlophone,GBR
1,A Rush of Blood to the Head,Coldplay,2002,Alternative,Parlophone,GBR
2,A Sailor's Guide to Life on Earth,Sturgill Simpson,2016,Country,Atlantic,USA
3,Abbey Road,The Beatles,1969,Rock,Parlophone,GBR
4,All Mod Cons,The Jam,1978,Rock,Polydor,GBR
5,Amadjar,Tinariwen,2019,World,ANTI-,MLI
6,Amnesiac,Radiohead,2001,Alternative,Parlophone,GBR
7,Animals,Pink Floyd,1977,Rock,Harvest,GBR
8,Annihilation of the Wicked,Nile,2005,Metal,Relapse,USA
9,At Carnegie Hall,Dave Brubeck,1963,Jazz,Columbia,USA

In [30]:
topsters_DF.drop(columns = ["LABEL", "COUNTRY"])

                                 TITLE              ARTIST  YEAR        GENRE
0                   A Hard Day's Night         The Beatles  1964         Rock
1          A Rush of Blood to the Head            Coldplay  2002  Alternative
2    A Sailor's Guide to Life on Earth    Sturgill Simpson  2016      Country
3                           Abbey Road         The Beatles  1969         Rock
4                         All Mod Cons             The Jam  1978         Rock
..                                 ...                 ...   ...          ...
199          You're Living All Over Me        Dinosaur Jr.  1987  Alternative
200                                  Z   My Morning Jacket  2005  Alternative
201                          #1 Record            Big Star  1972         Rock
202                  3-D THE CATALOGUE           Kraftwerk  2017   Electronic
203                              11:11  Rodrigo y Gabriela  2009        World

[204 rows x 4 columns]

In [31]:
topsters_DF.sort_values(by=["YEAR"])

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
70,In the Wee Small Hours,Frank Sinatra,1955,Pop,Capitol,USA
98,Mingus Ah Um,Charles Mingus,1959,Jazz,Columbia,USA
99,Moanin',Art Blakey and the Jazz Messengers,1959,Jazz,Blue Note,USA
81,Kind of Blue,Miles Davis,1959,Jazz,Columbia,USA
39,Djangology,Django Reinhardt & Stephane Grappelli,1961,Jazz,Bluebird,FRA
...,...,...,...,...,...,...
187,Vulture Prince,Arooj Aftab,2021,Jazz,New Amsterdam,PAK
180,To See the Next Part of the Dream,Parannoul,2021,Alternative,Self-Released,KOR
138,Seventeen Going Under,Sam Fender,2021,Rock,Polydor,GBR
143,Sometimes I Might Be Introvert,Little Simz,2021,Hip-Hop,Age 101,GBR
186,Vince Staples,Vince Staples,2021,Hip-Hop,Blacksmith,USA

In [49]:
topsters_DF["YEAR"].value_counts().sort_index()

1955     1
1959     3
1961     1
1963     1
1964     3
1966     2
1967     3
1968     2
1969     5
1970     3
1971     8
1972     2
1973     3
1975     3
1977     3
1978     1
1979     1
1980     1
1981     1
1982     1
1983     2
1984     1
1985     2
1986     1
1987     2
1988     1
1989     2
1990     2
1991     5
1992     2
1993     3
1994     7
1995     4
1996     4
1997     6
1998     3
1999     2
2000     4
2001     5
2002     3
2004     5
2005     7
2006     6
2007     6
2008     1
2009     5
2010     8
2011     4
2012     3
2013     5
2014     3
2015     4
2016     8
2017     9
2018     2
2019    10
2020     4
2021     5
Name: YEAR, dtype: int64

In [33]:
topsters_DF['GENRE'].value_counts()

Alternative    63
Rock           44
Hip-Hop        22
Electronic     15
Soundtrack     13
Metal          10
Jazz            9
World           8
Pop             6
Soul            5
R&B             2
Folk            2
Reggae          1
Blues           1
Classical       1
Country         1
Spoken Word     1
Name: GENRE, dtype: int64

In [34]:
topsters_DF.sort_values(by=['GENRE'])

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
71,Innerspeaker,Tame Impala,2010,Alternative,Modular,AUS
117,Patch the Sky,Bob Mould,2016,Alternative,Merge,USA
178,Tim,The Replacements,1985,Alternative,Sire,USA
59,Grace,Jeff Buckley,1994,Alternative,Columbia,USA
180,To See the Next Part of the Dream,Parannoul,2021,Alternative,Self-Released,KOR
...,...,...,...,...,...,...
131,Remain in Light,AngÃ©lique Kidjo,2018,World,Kravenworks,BEN
136,Sambomaster Has Something to Say to You,Sambomaster,2005,World,Sony,JPN
148,Stay Gold,Neon Bunny,2016,World,West Bridge,KOR
23,Buena Vista Social Club,Buena Vista Social Club,1997,World,World Circuit,CUB
203,11:11,Rodrigo y Gabriela,2009,World,Rubyworks,MEX

In [35]:
rap_topsters = topsters_DF.loc[topsters_DF["GENRE"] == "Hip-Hop"]
rap_topsters

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
10,Atrocity Exhibition,Danny Brown,2016,Hip-Hop,Warp,USA
16,Black Up,Shabazz Palaces,2011,Hip-Hop,Sub Pop,USA
32,DAMN.,Kendrick Lamar,2017,Hip-Hop,TDE,USA
44,Endtroducingâ€¦.,DJ Shadow,1996,Hip-Hop,Mo' Wax,USA
45,Enter the Wu-Tang (36 Chambers),Wu-Tang Clan,1993,Hip-Hop,Loud,USA
57,"good kid, m.A.A.d city",Kendrick Lamar,2012,Hip-Hop,TDE,USA
66,Illmatic,Nas,1994,Hip-Hop,Columbia,USA
90,Madvillainy,MF DOOM & Madlib,2004,Hip-Hop,Stones Throw,USA
95,Meow the Jewels,Run the Jewels,2015,Hip-Hop,Mass Appeal,USA
100,Modal Soul,nujabes,2005,Hip-Hop,Hydeout Productions,JPN
101,Moment of Truth,Gang Starr,1998,Hip-Hop,Noo Trybe,USA
108,No Mountains in Manhattan,Wiki,2017,Hip-Hop,XL,USA
118,Paul's Boutique,Beastie Boys,1989,Hip-Hop,Capitol,USA
127,R.A.P. Music,Killer Mike,2012,Hip-Hop,Williams Street,USA
133,Road Trip,Pistol McFly,2019,Hip-Hop,Self-Released,USA
134,RTJ4,Run the Jewels,2020,Hip-Hop,Jewel Runners,USA
143,Sometimes I Might Be Introvert,Little Simz,2021,Hip-Hop,Age 101,GBR
146,Splendor & Misery,clipping.,2016,Hip-Hop,Sub Pop,USA
149,Step in the Arena,Gang Starr,1991,Hip-Hop,Chrysalis,USA
164,The Low End Theory,A Tribe Called Quest,1991,Hip-Hop,Jive,USA
179,To Pimp a Butterfly,Kendrick Lamar,2015,Hip-Hop,TDE,USA
186,Vince Staples,Vince Staples,2021,Hip-Hop,Blacksmith,USA

In [36]:
alt_top = topsters_DF.loc[topsters_DF["GENRE"] == "Alternative"]
alt_top

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
1,A Rush of Blood to the Head,Coldplay,2002,Alternative,Parlophone,GBR
6,Amnesiac,Radiohead,2001,Alternative,Parlophone,GBR
11,Automatic for the People,R.E.M.,1992,Alternative,Warner Bros.,USA
13,Bandwagonesque,Teenage Fanclub,1991,Alternative,Creation,GBR
14,Bee Thousand,Guided by Voices,1994,Alternative,Scat,USA
...,...,...,...,...,...,...
190,What Is?,King Khan and the Shrines,2007,Alternative,Hazelwood,DEU
195,Wincing the Night Away,The Shins,2007,Alternative,Sub Pop,USA
197,Yankee Hotel Foxtrot,Wilco,2001,Alternative,Nonesuch,USA
199,You're Living All Over Me,Dinosaur Jr.,1987,Alternative,SST,USA
200,Z,My Morning Jacket,2005,Alternative,ATO,USA

In [37]:
print(f"{len(topsters_DF['COUNTRY'].unique())} countries represented:")
topsters_DF['COUNTRY'].value_counts()

19 countries represented:

USA    109
GBR     55
JPN     13
AUS      4
CAN      3
FRA      3
KOR      3
DEU      3
NOR      1
ISL      1
MLI      1
PAK      1
BEN      1
CUB      1
MEX      1
JAM      1
POL      1
ESP      1
SYR      1
Name: COUNTRY, dtype: int64

In [38]:
albumcount = len(topsters_DF['TITLE'].unique())
artistcount = len(topsters_DF['ARTIST'].unique())
genrecount = len(topsters_DF['GENRE'].unique())
yearspan = topsters_DF['YEAR'].max() - topsters_DF['YEAR'].min()
nationals = len(topsters_DF['COUNTRY'].unique())
summary = {"Total Number of Albums":albumcount,
                          "Total Number of Artists":artistcount,
                          "Total Genres Represented":genrecount,
                          "Range of Years" : yearspan,
                          "Number of Countries" : nationals}

summary_DF = pd.DataFrame([summary])
summary_DF

,Total Number of Albums,Total Number of Artists,Total Genres Represented,Range of Years,Number of Countries
0,204,178,17,66,19

In [39]:
# Locate and retrieve subset of Topsters for albums that came out in 2000 and beyond.
topsters00_DF = topsters_DF.loc[topsters_DF["YEAR"] > 1999]
total_2000s = len(topsters_DF.loc[topsters_DF["YEAR"] > 1999])
print(total_2000s)
topsters00_DF

107

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
1,A Rush of Blood to the Head,Coldplay,2002,Alternative,Parlophone,GBR
2,A Sailor's Guide to Life on Earth,Sturgill Simpson,2016,Country,Atlantic,USA
5,Amadjar,Tinariwen,2019,World,ANTI-,MLI
6,Amnesiac,Radiohead,2001,Alternative,Parlophone,GBR
8,Annihilation of the Wicked,Nile,2005,Metal,Relapse,USA
...,...,...,...,...,...,...
197,Yankee Hotel Foxtrot,Wilco,2001,Alternative,Nonesuch,USA
198,You're Dead!,Flying Lotus,2014,Electronic,Warp,USA
200,Z,My Morning Jacket,2005,Alternative,ATO,USA
202,3-D THE CATALOGUE,Kraftwerk,2017,Electronic,Kling Klang,DEU
203,11:11,Rodrigo y Gabriela,2009,World,Rubyworks,MEX

In [40]:
albumcount00 = topsters00_DF['TITLE'].count()
artistcount00 = len(topsters00_DF['ARTIST'].unique())
genrecount00 = len(topsters00_DF['GENRE'].unique())

summary00 = {"Total Number of Albums":albumcount00,
                          "Total Number of Artists":artistcount00,
                          "Total Genres Represented":genrecount00}

summary00_DF = pd.DataFrame([summary00])
print("Summary stats for albums released in 2000s")
summary00_DF

Summary stats for albums released in 2000s

   Total Number of Albums  Total Number of Artists  Total Genres Represented
0                     107                       97                        12

In [41]:
topsters00_DF.sort_values(by=['YEAR'])

,TITLE,ARTIST,YEAR,GENRE,LABEL,COUNTRY
110,Nuggets from Nuggets,Various Artists,2000,Rock,Rhino,USA
130,Relationship of Command,At the Drive-In,2000,Alternative,Fearless,USA
80,Kid A,Radiohead,2000,Alternative,Parlophone,GBR
34,De Stijl,The White Stripes,2000,Alternative,Sympathy for the Record Industry,USA
197,Yankee Hotel Foxtrot,Wilco,2001,Alternative,Nonesuch,USA
...,...,...,...,...,...,...
186,Vince Staples,Vince Staples,2021,Hip-Hop,Blacksmith,USA
187,Vulture Prince,Arooj Aftab,2021,Jazz,New Amsterdam,PAK
138,Seventeen Going Under,Sam Fender,2021,Rock,Polydor,GBR
180,To See the Next Part of the Dream,Parannoul,2021,Alternative,Self-Released,KOR
143,Sometimes I Might Be Introvert,Little Simz,2021,Hip-Hop,Age 101,GBR

In [42]:
topsters_DF["ARTIST"].unique()

array(['The Beatles', 'Coldplay', 'Sturgill Simpson', 'The Jam',
       'Tinariwen', 'Radiohead', 'Pink Floyd', 'Nile', 'Dave Brubeck',
       'Danny Brown', 'R.E.M.', 'AC/DC', 'Teenage Fanclub',
       'Guided by Voices', 'Muse', 'Shabazz Palaces',
       'Red Hot Chili Peppers', 'Jeff Beck', 'Joni Mitchell',
       'Chikuma Jun', 'Bon Iver', 'The Black Keys',
       'Buena Vista Social Club', 'Duster', 'The Wailers', 'Toro y Moi',
       'Mitsuda Yasunori, Uematsu Nobuo', 'MGMT', 'Vampire Weekend',
       'Best Coast', 'SZA', 'Kendrick Lamar', 'Sonic Youth',
       'The White Stripes', 'Kings of Convenience', 'Gorillaz',
       'Daft Punk', 'Tycho', 'Django Reinhardt & Stephane Grappelli',
       'Portishead', 'Charlie Hunter & Leon Parker', 'Elliott Smith',
       'The Jimi Hendrix Experience', 'DJ Shadow', 'Wu-Tang Clan',
       'The Cinematic Orchestra', 'Jay Som', 'Cornelius', 'Night Tempo',
       'Uematsu Nobuo', 'Vincent Diamante', 'Neko Case', 'Yes',
       'Blood Orange', 'The Stooges', 'Spoon', 'Adrian Cronauer',
       'Jeff Buckley', 'Creedence Clearwater Revival',
       'The Gaslight Anthem', 'Pizzicato Five', 'El Guincho',
       'David Bowie', 'Fatherson', 'Nas', 'Miles Davis', 'King Crimson',
       'Frank Sinatra', 'Tame Impala', 'T-Bone Burnett', 'Thundercat',
       'Yeah Yeah Yeahs', 'Tatsuro Yamashita', 'John Williams',
       'Yu Miyake', 'Bill Kiley, LudoWic', 'MC5', 'Meitei',
       'Led Zeppelin', 'Mastodon', 'The Who', 'Jerry Lee Lewis',
       'The Clash', 'Karen O & Danger Mouse', 'MF DOOM & Madlib',
       'fka twigs', 'Superchunk', 'Black Sabbath', 'Run the Jewels',
       'Animal Collective', 'Bonobo', 'Charles Mingus',
       'Art Blakey and the Jazz Messengers', 'nujabes', 'Gang Starr',
       'Mogwai', 'Boards of Canada', 'Sex Pistols',
       'Keiichi Okabe, Kuniyuki Takahashi, Keigo Hoashi, Emi Evans',
       'Uncle Tupelo', 'Wiki', 'MotÃ¶rhead', 'Various Artists', 'Beck',
       'The Style Council', 'Washed Out', 'Blur', 'Bob Mould',
       'Beastie Boys', 'Shoji Meguro, Lyn Inaizumi', 'The Beach Boys',
       'Placebo', 'Iron Maiden', 'Night Rally', 'Purple Mountains',
       'Rammstein', 'Killer Mike', 'Rage Against the Machine',
       'At the Drive-In', 'AngÃ©lique Kidjo', 'Pistol McFly', 'Megadeth',
       'Sambomaster', 'SBTRKT', 'Sam Fender', 'Bloc Party',
       'ASIAN KUNG-FU GENERATION', 'Little Simz',
       'Queens of the Stone Age', 'clipping.', 'Gnarls Barkley',
       'Neon Bunny', 'The Rolling Stones', 'Wilco', 'Sigur RÃ³s',
       'Pearl Jam', 'Stevie Ray Vaughan & Double Trouble', 'Monty Python',
       'The Sea and Cake', 'Machine Head', 'The Doors',
       'Kamasi Washington', 'Christopher Parkening', 'The Kinks',
       'A Tribe Called Quest', 'Andy Shauf', 'The Smiths', 'Behemoth',
       'Elbow', 'The Flaming Lips, Colorado Symphony Orchestra',
       'The Velvet Underground & Nico', 'Modest Mouse',
       'Explosions in the Sky', 'Michael Jackson', 'The Go! Team',
       'The Replacements', 'Parannoul', 'Tortoise', 'System of a Down',
       'Keane', 'Grizzly Bear', 'Neon Indian', 'Vince Staples',
       'Arooj Aftab', 'Weezer', 'Omar Souleyman',
       'King Khan and the Shrines', 'yaeji', 'Marvin Gaye', 'Oasis',
       'The Supremes', 'The Shins', 'Flying Lotus', 'Dinosaur Jr.',
       'My Morning Jacket', 'Big Star', 'Kraftwerk', 'Rodrigo y Gabriela'],
      dtype=object)

In [43]:
artists_genre = topsters_DF.groupby("GENRE")["ARTIST"].unique()

In [48]:
# Using .groupby to show how many albums from each genre, from each country, we have:
gen_artists = topsters_DF.groupby("GENRE").count()["ARTIST"]
pd.DataFrame(gen_artists)

             ARTIST
GENRE
Alternative      63
Blues             1
Classical         1
Country           1
Electronic       15
Folk              2
Hip-Hop          22
Jazz              9
Metal            10
Pop               6
R&B               2
Reggae            1
Rock             44
Soul              5
Soundtrack       13
Spoken Word       1
World             8

SyntaxError: invalid syntax (3075069391.py, line 1)